* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 30px auto;
}

.flex-box {
    display: flex;
    margin-bottom: 10px;
}

.flex-box h2 {
    text-align: center;
    margin-bottom: 10px;
}

.flex-box div {
    background-color: #949494;
    margin: 0 10px;
    padding: 10px;
    width: 100%;
}

.flex-box .datas {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    padding: 30px 60px;
}